@using Jobsway2goMvc.Enums;
@model Jobsway2goMvc.Models.Post

@{
    ViewData["Title"] = "Create";
}

<div class="job-post ptb-100">
    <div class="container">
        <form class="job-post-from" asp-action="Create">
            <h2>Create new Post</h2>
            <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<PostType>()" ></select>
            </div>
            <input type="hidden" asp-for="GroupId" value="@Model.GroupId" />
                <div class="col-md-12 text-center">
                    <input type="submit" value="Create" class="btn btn-primary post-btn" />
                    <a class="btn back-btn" asp-action="DetailsPostsGroup" asp-controller="Groups" asp-route-id="@Model.GroupId">Back to Group</a>
            </div>
            </div>
        </form>
    </div>
</div>
