@model Jobsway2goMvc.Models.Job

@{
    ViewData["Title"] = "Create";
}

<!-- Post Job Section Start -->
<div class="job-post ptb-100">
    <div class="container">
        <form class="job-post-from" asp-action="Create">
            <h2>Fill Up Your Job information</h2>
            <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName" class="form-label">Company Name</label>
                        <input asp-for="CompanyName" type="text" class="form-control" id="companyName" placeholder="Company Name">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="jobCategory" class="form-label">Job Category</label>
                        @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories, "-- Select a category --", htmlAttributes: new { @class = "form-control", @id = "jobCategory" })
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="schedule" class="form-label">Schedule</label>
                        <input asp-for="Schedule" type="text" class="form-control" id="schedule" placeholder="Schedule">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="openSpots" class="form-label">Open Spots</label>
                        <input asp-for="OpenSpots" type="number" class="form-control" id="openSpots" placeholder="Number of spots available">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateFrom" class="form-label">Date From</label>
                        <input asp-for="DateFrom" type="date" class="form-control" id="dateFrom" placeholder="">
                    </div>
                </div>
                
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateTo" class="form-label">Date To</label>
                        <input asp-for="DateTo" type="date" class="form-control" id="dateTo" placeholder="">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="minSalary" class="form-label">Minimum Salary</label>
                        <input asp-for="MinSalary" type="number" class="form-control" id="minSalary" placeholder="e.g. $20,000">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxSalary" class="form-label">Maximum Salary</label>
                        <input asp-for="MaxSalary" type="number" class="form-control" id="maxSalary" placeholder="e.g. $30,000">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="location" class="form-label">Location</label>
                        <input asp-for="Location" type="text" class="form-control" id="location" placeholder="e.g. London">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="wp-webdeasy-comment-editor">
                        <div class="toolbar">
                            <div class="line">

                                <div class="box">
                                    <span class="editor-btn icon smaller" data-action="bold" data-tag-name="b" title="Bold">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/bold.png" />
                                    </span>
                                    <span class="editor-btn icon smaller" data-action="italic" data-tag-name="i" title="Italic">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/italic.png" />
                                    </span>
                                    <span class="editor-btn icon smaller" data-action="underline" data-tag-name="u" title="Underline">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/underline.png" />
                                    </span>
                                    <span class="editor-btn icon smaller" data-action="strikeThrough" data-tag-name="strike"
                                          title="Strike through">
                                        <img src="https://img.icons8.com/fluency-systems-filled/30/000000/strikethrough.png" />
                                    </span>
                                </div>

                                <div class="box">
                                    <span class="editor-btn icon has-submenu">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/align-left.png" />
                                        <div class="submenu">
                                            <span class="editor-btn icon" data-action="justifyLeft" data-style="textAlign:left"
                                                  title="Justify left">
                                                <img src="https://img.icons8.com/fluency-systems-filled/48/000000/align-left.png" />
                                            </span>
                                            <span class="editor-btn icon" data-action="justifyCenter" data-style="textAlign:center"
                                                  title="Justify center">
                                                <img src="https://img.icons8.com/fluency-systems-filled/48/000000/align-center.png" />
                                            </span>
                                            <span class="editor-btn icon" data-action="justifyRight" data-style="textAlign:right"
                                                  title="Justify right">
                                                <img src="https://img.icons8.com/fluency-systems-filled/48/000000/align-right.png" />
                                            </span>
                                            <span class="editor-btn icon" data-action="formatBlock" data-style="textAlign:justify"
                                                  title="Justify block">
                                                <img src="https://img.icons8.com/fluency-systems-filled/48/000000/align-justify.png" />
                                            </span>
                                        </div>
                                    </span>
                                    <span class="editor-btn icon" data-action="insertOrderedList" data-tag-name="ol"
                                          title="Insert ordered list">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/numbered-list.png" />
                                    </span>
                                    <span class="editor-btn icon" data-action="insertUnorderedList" data-tag-name="ul"
                                          title="Insert unordered list">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/bulleted-list.png" />
                                    </span>
                                    <span class="editor-btn icon" data-action="outdent" title="Outdent" data-required-tag="li">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/outdent.png" />
                                    </span>
                                    <span class="editor-btn icon" data-action="indent" title="Indent">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/indent.png" />
                                    </span>

                                </div>
                                <div class="box">
                                    <span class="editor-btn icon" data-action="insertHorizontalRule" title="Insert horizontal rule">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/horizontal-line.png" />
                                    </span>
                                </div>

                            </div>
                            <div class="line">

                                <div class="box">
                                    <span class="editor-btn icon smaller" data-action="undo" title="Undo">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/undo--v1.png" />
                                    </span>
                                    <span class="editor-btn icon" data-action="removeFormat" title="Remove format">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/remove-format.png" />
                                    </span>
                                </div>

                                <div class="box">
                                    <span class="editor-btn icon smaller" data-action="createLink" title="Insert Link">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/add-link.png" />
                                    </span>
                                    <span class="editor-btn icon smaller" data-action="unlink" data-tag-name="a" title="Unlink">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/delete-link.png" />
                                    </span>
                                </div>

                                <div class="box">
                                    <span class="editor-btn icon" data-action="toggle-view" title="Show HTML-Code">
                                        <img src="https://img.icons8.com/fluency-systems-filled/48/000000/source-code.png" />
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="content-area">
                            <div class="visuell-view" contenteditable>
                                <p style="text-align: center;">
                                    Write Job requirements here.
                                </p>
                            </div>
                            <textarea class="html-view"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal">
                    <div class="modal-bg"></div>
                    <div class="modal-wrapper">
                        <div class="close">✖</div>
                        <div class="modal-content" id="modalCreateLink">
                            <h3>Insert Link</h3>
                            <input type="text" id="linkValue" placeholder="Link (example: https://webdeasy.de/)">
                            <div class="row">
                                <input type="checkbox" id="new-tab">
                                <label for="new-tab">Open in new Tab?</label>
                            </div>
                            <button class="done">Done</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description" class="form-label">Job Description</label>
                        <textarea asp-for="Description" class="form-control description-area" id="description" rows="6" placeholder="Job Description"></textarea>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary post-btn">
                        Post A Job
                    </button>
                    <a class="btn back-btn" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Post Job Section End -->