@model Jobsway2goMvc.Models.Job

@{
    ViewData["Title"] = "Create";
}

<!-- Post Job Section Start -->
<div class="job-post ptb-100">
    <div class="container">
        <form class="job-post-from" asp-action="Create">
            <h2>Fill Up Your Job information</h2>
            <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName" class="form-label">Company Name</label>
                        <input asp-for="CompanyName" type="text" class="form-control" id="companyName" placeholder="Company Name">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="jobCategory" class="form-label">Job Category</label>
                        @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories, "-- Select a category --", htmlAttributes: new { @class = "form-control", @id = "jobCategory" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "Please Select a Category", new { @class = "text-danger" })
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="schedule" class="form-label">Schedule</label>
                        <input asp-for="Schedule" type="text" class="form-control" id="schedule" placeholder="Schedule">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="openSpots" class="form-label">Open Spots</label>
                        <input asp-for="OpenSpots" type="number" class="form-control" id="openSpots" placeholder="Number of spots available">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateFrom" class="form-label">Date From</label>
                        <input asp-for="DateFrom" type="date" class="form-control" id="dateFrom" placeholder="">
                    </div>
                </div>
                
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="dateTo" class="form-label">Date To</label>
                        <input asp-for="DateTo" type="date" class="form-control" id="dateTo" placeholder="">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="minSalary" class="form-label">Minimum Salary</label>
                        <input asp-for="MinSalary" type="number" class="form-control" id="minSalary" placeholder="e.g. $20,000">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxSalary" class="form-label">Maximum Salary</label>
                        <input asp-for="MaxSalary" type="number" class="form-control" id="maxSalary" placeholder="e.g. $30,000">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="location" class="form-label">Location</label>
                        <input asp-for="Location" type="text" class="form-control" id="location" placeholder="e.g. London">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="requirements" class="form-label">Requirements</label>
                        <textarea asp-for="Requirements" class="form-control requirements-area" id="requirements" rows="6" placeholder="Job Requirements"></textarea>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description" class="form-label">Job Description</label>
                        <textarea asp-for="Description" class="form-control description-area" id="description" rows="6" placeholder="Job Description"></textarea>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary post-btn">
                        Post A Job
                    </button>
                    <a class="btn back-btn" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Post Job Section End -->