@using Microsoft.AspNetCore.Identity
@using Jobsway2goMvc.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jobsway2goMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <div class="navbar-area">
            <div class="main-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-xl navbar-toggleable-sm navbar-dark">
                        <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Jobsway2goMvc</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria- controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav  flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Events" asp-controller="Events" asp-action="Index">Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Collection" asp-controller="Collections" asp-action="Index">Collections</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Groups" asp-controller="Groups" asp-action="Index">Groups</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Role" asp-controller="Role" asp-action="Index">Roles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Jobs" asp-action="Index">Jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="JobCategories" asp-action="Index">Job Categories</a>
                                </li>
                                <li>
                                @if(SignInManager.IsSignedIn(User)){
                            
                                        <div class="dropdown">
                                            <a class="btn dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="icon fa fa-bell text-light fa-1x"></i>
                                            <span class="notification-counter" id="notificationCount"></span>
                                        </a>
                                         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <a class="nav-link" asp-controller="UserConnection" asp-action="ConnectionList">View Connection Requests</a>
                                            <li class="nav-item" id="notificationsContainer">
                                                  
                                            </li>
                                            <li><hr class="dropdown-divider" /></li>
                                            <p>Marked as read </p>
                                             <a asp-controller="UserConnection" asp-action="ConnectionList" class="nav-item" id="notificationsMarkedAsRead">
                                                  
                                             </a>
                                        </ul>
                                    </div>
                               }
                                </li>
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <input type="hidden" id="hfUsername" value="@UserManager.GetUserName(User)" />
            @RenderBody()
        </main>
    </div>

    <footer class="mt-auto">
        <div class="copyright-text text-center">
            <p>&#169;2023. All Rights Reserved By StarLab</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib//microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/notification.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="~/js/ListView.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
