@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jobsway2goMvc.styles.css" asp-append-version="true" />
</head>

<div class="containerR d-flex justify-content-center">
    <div class="forms">
        <div class="form login">
            <span class="title">Forgot your password?</span>
            <hr />
            <span class="title">Enter your email.</span>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <dl class="row">
                    <span style="color: red;">@Html.ValidationSummary()</span>
                </dl>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-field">
                    <input asp-for="Input.Email" type="text" placeholder="Enter your email">
                    <i class="uil uil-envelope icon"></i>
                </div>

                <div class="input-field button">
                    <button type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



