@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jobsway2goMvc.styles.css" asp-append-version="true" />
</head>

<div class="containerR d-flex justify-content-center">
    <div class="forms">
        <div class="form login">
            <span class="title">Log in</span>
            <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-field">
                    <input asp-for="Input.Email" type="text" placeholder="Enter your email" required>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input asp-for="Input.Password" type="password" class="password" placeholder="Enter your password" required>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>
                <br />
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="input-field button">
                    <button id="login-submit" type="submit">Log in</button>
                </div>
            </form>
             </section>
            <p class="mb-2">
                <a class="nav-link text-dark" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p class="mb-1">
                <a class="nav-link text-dark" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
            <p class="mb-0">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/RegisterBusiness">Register as a Business </a>

            </p>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
 }