@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["UserRoleIsNull"]</h2>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jobsway2goMvc.styles.css" asp-append-version="true" />
</head>

<div class="containerR d-flex justify-content-center">
    <div class="forms">
        <div class="form login">
            <span class="title">Registration</span>
            <section>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <dl class="row">
                        <span style="color: red;">@Html.ValidationSummary()</span>
                    </dl>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-field">
                        <input asp-for="Input.FirstName" type="text" placeholder="Enter your name">
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input asp-for="Input.LastName" type="text" placeholder="Enter your lastname">
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input asp-for="Input.Email" type="text" placeholder="Enter your email">
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input asp-for="Input.Password" type="password" class="password" placeholder="Create a password">
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field">
                        <input asp-for="Input.ConfirmPassword" type="password" class="password" placeholder="Confirm a password">
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="input-field button">
                        <button id="registerSubmit" type="submit">Register</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}