
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
  background-color:white;
}

.row{
    margin-top:5px;
    margin-bottom:5px;
}
/*posts group*/
@media (min-width: 992px) {
    .gedf-main {
        
    }

    .gedf-card {
        margin-bottom: 2.77rem;
        justify-content:center;
    }
}

/* Default CSS Start */

a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

p {
    font-size: 17px;
    color: #707070;
    line-height: 1.8;
}

button {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
}

button:focus {
    outline: 0;
}

.form-control:focus {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.d-table {
    width: 100%;
    height: 100%;
}

.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.pt-100 {
    padding-top: 100px;
}

.pb-70 {
    padding-bottom: 70px;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 38px;
    font-weight: 600;
    max-width: 550px;
    margin: 0 auto 10px;
    line-height: 1;
    text-transform: capitalize;
}

.section-title p {
    max-width: 750px;
    margin: 0 auto;
}

.theme-btn .default-btn {
    font-size: 18px;
    font-weight: 500;
    font-family: "Catamaran", sans-serif;
    background: #fd1616;
    color: #ffffff;
    margin-right: 15px;
    border: 1px solid transparent;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
}

.theme-btn .default-btn:hover {
    background: #001935;
    border: 1px solid #ffffff;
}

/* Default CSS End */
/*---------- Home Page One CSS Start ----------*/
/* Navbar CSS Start */
.navbar-area .main-nav {
    background: #010c29;
    padding: 20px 0;
    position: relative;
}

.navbar-area .main-nav .navbar {
    padding: 0;
}

.navbar-area .main-nav .navbar .navbar-brand {
    padding: 0;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item {
    padding: 10px 0;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .nav-link {
    text-transform: capitalize;
    font-family: "Catamaran", sans-serif;
    font-size: 17px;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item.active .nav-link{
    color: #fd1616;
}


.navbar-area .main-nav .navbar .navbar-nav .nav-item  {
    padding: 0;
}

.navbar-area .main-nav .navbar-nav .nav-item .nav-link{
    color: #ffffff;
}

.navbar-nav .signin-btn{
    font-weight: 600;
    background: #fd1616;
    border-radius: 5px;
}

.navbar-nav .signup-btn:hover {
    color: #fd1616;
    background: none;
}

.navbar-nav .signup-btn {
    background: none;
    padding: 0;
    margin-right: 10px;
}

.navbar-nav .nav-link.signin-btn:hover {
    background: #ffffff;
    color: #001935 !important;
}

navbar-nav .signup-btn {
    background: none;
    padding: 0;
    margin-right: 10px;
}

navbar-nav .signup-btn:hover {
    color: #fd1616;
    background: none;
}

.navbar-area .main-nav .nav.navbar-nav .nav-item .nav-link.welcome-btn-text {
    font-size: 14px;
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100% !important;
}

/* Navbar CSS End */

/* Find Section CSS Start */
.find-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.find-form .form-group {
    margin-bottom: 0;
    line-height: 1;
    text-align: left;
    position: relative;
}

.find-form .form-group label {
    font-size: 15px;
    color: #5c5a5a;
    font-weight: 600;
    padding-left: 20px;
}

.find-form .form-group .form-control {
    height: 60px;
    border-radius: 25px;
    padding: 5px 20px 10px;
}

.find-form .form-group ::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #8e8d8d;
}

.find-form .form-group :-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #8e8d8d;
}

.find-form .form-group ::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #8e8d8d;
}

.find-form .form-group i {
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 22px;
    color: #9b9b9b;
}

.find-form .nice-select {
    height: 60px;
    border-radius: 25px;
    padding: 5px 20px 10px;
    border: 1px solid #ced4da;
    width: 100%;
}

.find-form .nice-select::after {
    right: 20px;
    top: 46%;
    width: 9px;
    height: 9px;
}

.find-form .nice-select .current {
    font-size: 14px;
    top: 3px;
    position: relative;
    font-weight: 500;
}

.find-form .nice-select .list {
    width: 100%;
}

.find-form .find-btn {
    background: #fd1616;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    color: #ffffff;
    border-radius: 25px;
    padding: 16px 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.find-form .find-btn:hover {
    background: #001935;
}

.find-form .find-btn i {
    left: 10px;
    top: 2px;
    position: relative;
}

/* Find Section CSS End */

/* Job Section CSS Start */
.job-style-two {
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.job-style-two::before {
    /*position: absolute;*/
    content: '';
    background-image: url(../img/shape/job.png);
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .02;
    z-index: -1;
}

.job-card-two {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 40px 30px;
}

.job-card-two .user-logo {
    background: #fddcd4;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 100px;
    border: 1px dashed #fd1616;
    position: relative;
    top: -8px;
}

.job-card-two .job-info {
    padding-left: 25px;
}

.job-card-two .job-info h3 {
    margin-bottom: 10px;
}

.job-card-two .job-info h3 a {
    color: #001935;
}

.job-card-two .job-info h3 a:hover {
    color: #fd1616;
}

.job-card-two .job-info ul {
    padding-left: 0;
}

.job-card-two .job-info ul li {
    display: inline-block;
    font-size: 15px;
    padding-right: 10px;
}

.job-card-two .job-info ul li a {
    color: #fd1616;
    font-weight: 500;
}

.job-card-two .job-info ul li i {
    top: 2px;
    position: relative;
    font-size: 18px;
}

.job-card-two .job-info span {
    background: #fdd6cc;
    display: inline-block;
    padding: 5px 10px;
    color: #fd1616;
    margin-bottom: 10px;
    border: 1px dashed #fd1616;
    font-size: 14px;
}

.job-card-two .theme-btn .default-btn {
    margin-right: 0;
}

/* Job Section CSS End */

/* Job Section CSS Start */
.job-card {
    border: 1px dashed #d9dbdf;
    padding: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 30px;
    background: #fde7e7;
}

.job-card .thumb-img {
    border: 1px dashed #d9dbdf;
    max-width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    background: #ffffff;
}

.job-card .thumb-img img {
    max-width: 40px;
}

.job-card .job-info h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.job-card .job-info h3 a {
    color: #001935;
}

.job-card .job-info h3 a:hover {
    color: #fd1616;
}

.job-card .job-info ul {
    padding-left: 0;
    margin-bottom: 0;
}

.job-card .job-info ul li {
    display: block;
    font-size: 15px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.job-card .job-info ul li:last-child {
    margin-bottom: 0;
}

.job-card .job-info ul li a {
    color: #fd1616;
    font-weight: 500;
}

.job-card .job-info ul li i {
    top: 2px;
    position: relative;
    font-size: 18px;
}

.job-card .job-save {
    text-align: center;
}

.job-card .job-save span {
    background: #ffffff;
    display: block;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fd1616;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    margin-bottom: 15px;
    font-size: 15px;
}

.job-card .job-save a {
    background: #fd1616;
    color: #ffffff;
    /*border-radius: 20px;*/
    /*width: 30px;*/
    /*height: 30px;*/
    text-align: center;
    /*line-height: 30px;*/
    border: 1px dashed #afafaf;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.job-card .job-save a:hover {
    background: #001935;
    /*color: #ffffff;*/
}

.job-card:hover {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    border: 1px dashed #fd1616;
}

/* Job Section CSS End */

/* Top User CSS Start */
.user-card {
    text-align: center;
    border: 1px dashed #fd1616;
    padding: 40px 30px;
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

    .user-card .user-logo {
        margin-bottom: 25px;
    }

    .user-card .user-text h3 {
        margin-bottom: 10px;
    }

    .user-card .user-text p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .user-card .user-text .user-btn {
        background: #fd1616;
        color: #ffffff;
        padding: 10px 20px;
        display: inline-block;
        font-size: 14px;
    }

    .user-card:hover {
        -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    }

        .user-card:hover .user-btn {
            background: #001935;
        }

/* Top User CSS End */

/* Footer CSS Start */

.copyright-text {
    background: #03143b;
    padding: 20px 0;
}
    .copyright-text p {
        margin-bottom: 0;
        color: #ffffff;
        line-height: 1;
    }
        .copyright-text p a {
            color: #ffffff;
        }
            .copyright-text p a:hover {
                color: #fd1616;
            }

/* Footer CSS End */

.notification-container {
    position: relative;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 15px;
}
.icon {
    color: #fff;
}

.notification-counter {
    position: absolute;
    top: -7px;
    left: 12px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 3px 4px;
    font: 8px Verdana;
    margin-bottom: 60px;
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

a{
    text-decoration:none;
}


/*Jobs List cards  responsive*/
.col-md-4 {
    width: 25%;
    margin-bottom: 7px;
    margin-right: 7px;
}
@media (max-width: 976px) {
    .col-md-4 {
        width: 40%;
        margin: 0 auto;
        padding: 0px 20px;
        text-align: center;
    }

    .btn {
        width: 25px;
        font-size: 12px;
        padding: 5px 10px;
    }
     h3 {
        text-align: center;
    }

    .navbar-nav .nav-link.signin-btn {
         background: unset;
         font-weight: unset;
     }
}

@media (max-width: 768px) {
    .col-md-4 {
        width: 50%;
        margin: 0 auto;
        padding: 0px 20px;
        text-align: center;
    }
    .btn {
        width: 25px;
        font-size: 12px;
        padding: 5px 10px;
    }
    h3 {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .col-md-4 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .card {
        width: 90%;
        height: auto;
        margin: 10px 5%;
        padding: 10px;
    }
    .btn {
        width: 25px;
        font-size: 12px;
        padding: 5px 10px;
    }
    .card span {
        display: none;
    }
    h3{
        text-align:center;
    }
}

.search-list li {
    width:325px;
    height: 50px;
}
.search-list {
    position: absolute;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}
/*Notification dropdown costum*/
