*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}

body {
    background: #ffffff;
    color: #5f5f5f;
}
a {
    text-decoration: none;
    color: #5f5f5f;
}


/**--------------*/

.profile-main{
    flex-basis:73%;

}

profile-sidebar{
    flex-basis:25%;
    align-self:flex-start;
    position:sticky;
    top:73%;
}
.profile-container {
    background: #fff;
}

.profile-container-inner{
    padding:0 4% 10px;

}
.profile-pic{
    width: 150px;
    border-radius:50%;
    margin-top:-75px;
    padding: 5px;
    background:#fff;
}

.profile-container h1 {
    font-size: 28px;
    font-weight: 600;
}

.profile-container b{
    font-weight: 500;
}

.profile-container p{
    margin-top:5px;
}

.profile-btn{
    margin:20px 0;
}
.profile-btn a{
    display:inline-flex;
    align-items:center;
    padding: 6px 15px;
    border-radius:4px;
    margin-right: 10px;
}

.profile-description{
    background:#fff;
    padding:20px 4% 30px;
    margin: 12px 0;

}

.profile-description h2{
    color:#333;
    margin:10px 0 20px;
    font-weight:600;
}
.details-text {
    color: #001935;
    font-family: Times, serif;
    font-size: 15px;
}
.details-title {
    color: #fd1616;
    font-family: Times, serif;
    font-size: 15px;
}
.details-form .post-btn {
    display: inline-block;
    background-color: #001935;
    padding: 10px;
    width: 300px;
    color: #ffffff;
    text-align: center;
}

.details-form .back-btn {
    display: inline-block;
    background-color: #fd1616;
    padding: 10px;
    width: 300px;
    color: #ffffff;
    text-align: center;
}
/*---------- Post Jobs Page CSS Start ----------*/

.job-post-from {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    padding: 50px;
    border-radius: 10px;
    text-transform: capitalize;
}

.job-post-from h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 700;
}

.job-post-from .form-group {
    margin-bottom: 20px;
}

.job-post-from .form-group label {
    font-size: 16px;
    font-weight: 500;
    color: #001935;
}

.job-post-from .form-group .form-control {
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #ddd;
}

.job-post-from .form-group .nice-select {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}

.job-post-from .form-group .nice-select::after {
    height: 10px;
    width: 10px;
    right: 20px;
}

.job-post-from .form-group .nice-select .list {
    width: 100%;
}

.job-post-from .form-group .requirements-area {
    height: 100%;
}

.job-post-from .form-group .description-area {
    height: 100%;
}

.job-post-from .post-btn {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 45px;
    font-weight: 500;
    background: #001935;
}

.job-post-from .back-btn {
    border-radius: 10px;
    padding: 10px 45px;
    font-weight: 500;
    margin-left: 14px;
    margin-top: 30px;
}

/*---------- Post Jobs Page CSS End ----------*/

.create-button-size {
    font-size: 26px;
}

/*---------- Post Events Page CSS Start ----------*/

.event-post-from {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    padding: 50px;
    border-radius: 10px;
    text-transform: capitalize;
}

.event-post-from .form-group .form-control.guest-multi-select {
    height: 100px;
}

.event-post-from h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 700;
}

.event-post-from .form-group {
    margin-bottom: 20px;
}
.event-post-from .form-group .nice-select {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}

.event-post-from .form-group .nice-select::after {
    height: 10px;
    width: 10px;
    right: 20px;
}

.event-post-from .form-group .nice-select .list {
    width: 100%;
}
.event-post-from .form-group label {
    font-size: 16px;
    font-weight: 500;
    color: #001935;
}

.event-post-from .form-group .form-control {
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #ddd;
}

.event-post-from .form-group .description-area {
    height: 100%;
}

.event-post-from .post-btn {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 45px;
    font-weight: 500;
    background: #001935;
}

.event-post-from .back-btn {
    border-radius: 10px;
    padding: 10px 45px;
    font-weight: 500;
    margin-left: 14px;
    margin-top: 30px;
}

/*---------- Post Events Page CSS End ----------*/