@model Jobsway2goMvc.Models.Group

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="job-post ptb-100">
    <div class="container">
        <form class="job-post-from" asp-action="Create">
            <h2>Create new Group</h2>
            <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-check form-switch">
                <label asp-for="IsPublic" class="form-check-label" for="flexSwitchCheckChecked"></label>
                <input asp-for="IsPublic" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary post-btn">
                        Create a group
                    </button>
                    <a class="btn back-btn" asp-action="Index">Back to List</a>
                </div>
        </form>
    </div>
</div>
