@model List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:40px;">

<h1>Role Manager</h1>
    <a class="btn btn-info" asp-controller="Role" asp-action="UserRoles">View User with Roles </a>
    <br/>
<div>
<form method="post" asp-action="Create" asp-controller="Role">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-primary">Add New Role</button>
        </span>
        <input name="roleName" class="form-control w-25" />
    </div>
</form>
</div>
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-dark">
            <th>Id</th>
            <th>Role Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                    <td> 
                       <a class="btn btn-primary" asp-action="Edit" asp-route-id="@role.Id">Edit </a> 
                      <a class="btn btn-info" asp-controller="Role" asp-action="Details" asp-route-id="@role.Id">Details </a> 
                    </td>
            </tr>
        }
    </tbody>
</table>
</div>