@model EventViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="event-post ptb-100">
    <div class="container">
        <form class="event-post-from" asp-action="Edit">
            <h2>Edit the event</h2>
            <div class="row">
            <input type="hidden" asp-for="Event.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Event.Title" class="control-label"></label>
                        <input asp-for="Event.Title" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Event.CompanyName" class="control-label"></label>
                        <input asp-for="Event.CompanyName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Event.URL" class="control-label"></label>
                        <input asp-for="Event.URL" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Event.Location" class="control-label"></label>
                        <input asp-for="Event.Location" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Event.ImagePath" class="control-label"></label>
                        <input asp-for="Event.ImagePath" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Event.EventDate" class="control-label"></label>
                <input asp-for="Event.EventDate" class="form-control" /> </div>
                </div>

                <div class="form-group">
                    <label>Guests</label>
                    <br />
                    @foreach (var user in Model.UserManager.Users)
                    {
                        if (user.Id != Model.Event.CreatedBy)
                        {
                            <input type="checkbox" name="guestsIds" value="@user.Id"
                           @(Model.EventGuests.Any(x => x.GuestId == user.Id) ? "checked" : "")> @user.FirstName  @user.LastName
                            <br />
                        }
                    }
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Event.Description" class="control-label"></label>
                        <input asp-for="Event.Description" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary post-btn">
                        Save
                    </button>
                    <a class="btn back-btn" asp-action="Index">Back to Events</a>
                </div>
            </div>
        </form>
    </div>
</div>
